#img1 {
    border-width: 3px;
    border-color: orange;
    border-style: solid;
    size: 10px;

}

#img2 {
    border-width: 3px;
    border-color:orange;
    border-style: solid;

}
#container{
    margin-left: 10%;

}

#container {
    margin-left: 40%;
}